* {
  box-sizing: border-box;
  margin: 0;
}

button {
  background-color: lightblue;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9ad2cb;
  margin-top: 30svh;
}

h1 {
  margin-bottom: 40px;
  color: #d7ebba;
}

p {
  color: #feffbe;
  margin-top: 30px;
  text-align: center;
}
